@font-face {
    font-family: 'VT323';
    src: url('./Assets/Fonts/VT323/VT323-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 7px rgb(246, 162, 212),
    0 0 10px rgb(246, 162, 212),
    0 0 21px rgb(246, 162, 212),
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Flickering animation */
@keyframes flicker_blue {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 7px #b1edfa,
    0 0 10px #b1edfa,
    0 0 21px #b1edfa,
    0 0 42px #2fcbef,
    0 0 82px #2fcbef,
    0 0 92px #2fcbef,
    0 0 102px #2fcbef,
    0 0 151px #2fcbef;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Flickering animation */
@keyframes flicker_blue_box {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    box-shadow:
    0 0 7px #b1edfa,
    0 0 10px #b1edfa,
    0 0 21px #b1edfa,
    0 0 42px #2fcbef,
    0 0 82px #2fcbef,
    0 0 92px #2fcbef,
    0 0 102px #2fcbef,
    0 0 151px #2fcbef;
  
  }
  
  20%, 24%, 55% {        
      box-shadow: none;
  }    
}

@keyframes pulsate {
    
  100% {

    text-shadow:
    0 0 4px #b1edfa,
    0 0 11px #b1edfa,
    0 0 19px #b1edfa,
    0 0 40px #2fcbef,
    0 0 80px #2fcbef,
    0 0 90px #2fcbef,
    0 0 100px #2fcbef,
    0 0 150px #2fcbef;
  
  }
  
  0% {

    text-shadow:
      0 0 4px #b1edfa,
      0 0 11px #b1edfa,
      0 0 19px #b1edfa,
      0 0 40px #2fcbef,
      0 0 80px #2fcbef,
      0 0 90px #2fcbef,
      0 0 100px #2fcbef,
      0 0 150px #2fcbef;

}
}

@keyframes pulsate_pink {
    
  100% {

    text-shadow:
    0 0 4px rgb(246, 162, 212),
    0 0 11px rgb(246, 162, 212),
    0 0 19px rgb(246, 162, 212),
    0 0 40px #f09,
    0 0 80px #f09,
    0 0 90px #f09,
    0 0 100px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px rgb(246, 162, 212),
    0 0 11px rgb(246, 162, 212),
    0 0 19px rgb(246, 162, 212),
    0 0 40px #f09,
    0 0 80px #f09,
    0 0 90px #f09,
    0 0 100px #f09;

}
}

li, p, a, h1, h2, h3, h4, h5, h6, label{
    font-family: 'VT323';
}

a:link {
    text-decoration: none 
}

h1 {
    color: #fff;
}

.typed-cursor {
    color: #fff;
    animation: flicker_blue 0.11s ease-in-out infinite alternate;
}

.to-top-btn button{
  background: #9a99ff!important;
  color: #fff;
  border-radius: 100%;
  font-size: 30px;
  border: 0;
  transform: rotateZ(270deg);
  animation: flicker 0.11s ease-in-out infinite alternate;
}

.to-top-btn button:hover{
  font-size: 35px;
}

/*-- ======= Section ======= --*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  color: #9a99ff;
  display: inline-block;
  text-transform: uppercase;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

/*-- ======= Header ======= --*/

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #000;
  }

.logo h1 {
    color: #fff;
}

.logo h1:hover {
    color: #9a99ff;
}

/*-- ======= Navigation ======= --*/

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
  }

.navbar .logo img{
    height: 65px;
  }

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
.navbar li {
    position: relative;
  }

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 22px;
    color: #fff!important;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    animation: flicker 1.5s infinite alternate;
  }

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

.navbar a{
  font-size: 30px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #2fcbef;
  }

/*-- ======= Hero ======= --*/

#hero {
    width: 100%;
    height: 100vh;
    background: url("./Assets/img/hero.png") center;
    background-size: cover;
    position: relative;
  }

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 118px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h6 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 50px;
  }

  #hero .hero-container i {
    font-style: normal;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;
  }

  #hero a {
    margin-top: 8%;
  }

  #hero p {
    color: #eee;
    transform: rotateZ(90deg);
    font-size: 50px;
  }

  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }

    #hero h1 {
        line-height: 100px;
      }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 100px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }

/*-- ======= About Me ======= --*/

.about-me {
  background: #292929;
}

.about-me .section-title {
  text-align: center;
  color: #fff;
}

.about-me .section-title h2{
  text-align: center;
  color: #eee;
  font-size: 90px;
  margin-bottom: 10%;
}

.about-me .section-title h4{
  text-align: center;
  color: #fff;
  font-size: 120px;
  animation: flicker_blue 1.5s infinite alternate;
}

.about-me p {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 0;
  color: #eee;
}

.about-me .profile-card {
  background: #292929;
  border: 0;
  margin-bottom: 25%;
}

.about-me .profile-card h5 {
  color: #2fcbef;
  font-size: 40px;
  margin-top: 10%;
}

.about-me .profile-card a {
  background: #292929;
  border: 0;
}

.about-me .profile-card a i:hover {
  color: #9a99ff;
  font-size: 30px;
}

.about-me .info{
  margin-left: 20%;
}

.about-me .info .list-group {
  margin-left: 10%;
}

.about-me .info h2 {
  color: #2fcbef;
}

.about-me .info li {
  font-size: 30px;
  color: #eee;
}

.about-me .info .soft-list {
  margin-top: 15%;
}

.about-me .info .cv-btn {
  margin-top: 15%;
  background: #9a99ff;
  border: 0;
  font-family: 'VT323';
  font-size: 40px;
  animation: flicker 1.5s infinite alternate;
}

.about-me .info .cv-btn:hover {
  font-size: 45px;
}

.about-me .icon-box i{
  font-size: 28px;
}

.about-me .description-1 p{
  color: #2fcbef;
  font-size: 30px;
  line-height: 24px;
}

.about-me .description-2 p{
  color: #9a99ff;
  font-size: 30px;
  line-height: 24px;
}


/*-- ======= Services ======= --*/

.services {
  background: #292929;
}

.services .section-title {
  text-align: center;
  color: #fff;
}

.services .section-title h2{
  text-align: center;
  color: #eee;
  font-size: 90px;
  margin-bottom: 10%;
  animation: pulsate_pink 1.5s infinite alternate;
}

.services .section-title h4{
  text-align: center;
  color: #fff;
  font-size: 120px;
  animation: flicker 1.5s infinite alternate;
}

.services .icon-box {
  text-align: center;
  border: 1px solid #2fcbef;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #292929;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #9a99ff;
  border-radius: 50px;
  border: 1px solid #9a99ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #fff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  animation: flicker 0.11s ease-in-out infinite alternate;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #eee;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 0;
  color: #eee;
}

.services .icon-box:hover h4 a {
  color: #c9c8f0;
  font-size: 30px;
}

.services .icon-box:hover .icon i{
  font-size: 40px;
}

/*-- ======= Contact ======= --*/

.contact .section-title h4 {
  color: #fff;
  animation: flicker_blue 1.5s infinite alternate;
}

.contact .section-title h2{
  text-align: center;
  color: #eee;
  font-size: 90px;
  margin-bottom: 10%;
  animation: pulsate 1.5s infinite alternate;
}

.contact .section-title p {
  color: #eee;
  font-size: 30px;
}

.contact .info-box{
  margin: 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20%;
}

.contact .info-box i {
  color: #eee;
  font-size: 50px;
}

.contact .info-box i:hover {
  color: #9a99ff;
  font-size: 70px;
}
/*-- ======= Footer ======= --*/

footer a{
  color: #eee;
  margin-right: 3%;
  font-size: 25px;
  animation: flicker 0.11s ease-in-out infinite alternate;
}

footer a:hover{
  font-size: 30px;
}

footer p {
  color: #eee;
  font-size: 20px;
  animation: flicker 0.11s ease-in-out infinite alternate;
}

footer{
  margin-top: 5%;
}